{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit <span class="teal-text">{{object.title}}</span></h1>
    {% else %}
        <h1>Add Post</h1>
    {% endif %}
    
    <head>{{ form.media }}</head>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn">
    </form>
    {% if object %}
        <a href="{% url 'post_delete' post.id %}">
            <input type="submit" value="Delete" class="btn deleteButton">
        </a>
    {% endif %}
{% endblock %}