{% extends 'base.html' %}
{% block content %}
{% load static from static %}


<section class="container section" id="topPost">    
    <div class="row">
        <div class="col s7 push-s5">
            
            <img class="" src="Work1.jpg">
            
        </div>
        <div class="col s5 pull-s7">
            
           <h7 class="black-text">PRODUCT DESIGN | FEB 05, 2021</h7>

           <h5> Interview - <br/> What it's like to work remotely in big-sized product development?</h5>
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text 
               ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
            <br/>
            <p>3 MIN READ  <a href="#" class="btn black-text"><i class="material-icons left">create</i><span>Edit</span></a></p>

            <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
            </div>
        
        </div>
      </div>
</section>

<section class="container section" id="midPost">
    
    <div class="row">
        
        <div class="col s12 m4">

            <div>

            </div>
            
            <div>
                <h5> Interview - <br/> What it's like to work remotely in big-sized product development?</h5>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text 
               ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            <br/>
                <p>3 MIN READ  <a href="#" class="btn black-text"><i class="material-icons left">create</i><span>Edit</span></a>
                
                </p>

                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                </div>
            </div>

        </div>



        <div class="col s4">
            
            <div>

            </div>
            
            <div>
                <h5> Interview - <br/> What it's like to work remotely in big-sized product development?</h5>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text 
               ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            <br/>
                <p>3 MIN READ  <a href="#" class="btn black-text"><i class="material-icons left">create</i><span>Edit</span></a>
                
                </p>

                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                </div>
            </div>

        </div>
      </div>
  

</section>

<section class="container section" id="bottomPost">
    <div class="row">

        <div class="col s12 m8">

            <div>

            </div>

            <div>
                <h5> Interview - <br/> What it's like to work remotely in big-sized product development?</h5>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text 
               ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            <br/>
                <p>3 MIN READ  <a href="#" class="btn black-text"><i class="material-icons left">create</i><span>Edit</span></a>
                
                </p>

                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                </div>
            </div>


            
        </div>
    </div>


{% endblock %}