{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">

  <section class="container section" id="topPost">    
    <div class="row">
      <div class="">
        <h2 class="black-text">{{ post.title }}</h2>
        <h7 class="black-text">{{post.created_on}}</h7>
        <p class="black-text">{{ post.content|safe }}</p>
        <div class="">
          <img src="{% static 'images/Work1.jpg'%}" alt="" width="400" height="300">
        </div>
        <p class="author black-text">Author : {{ post.author }}</p>
        <p class="updated black-text">Updated : {{ post.updated_on}}</p>
        <a href="{% url 'post_update' post.id %}" class="btn black-text">
            <i class="material-icons left">create</i>
            <span>Edit</span>
        </a>
        <div class="row valign-wrapper">
            <div class="col s2">
            <img src="{% static 'images/Work1.jpg'%}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
        </div>
      </div>
    </div>
</section>
<section class="container section" id="">  
  <form action="{% url 'comment_create' post.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
    <br>
    <table class="striped">
      <thead>
        <tr><th class="commentContent">Comment</th><th> Written By</th><th> Written On</th></tr>
      </thead>
      <tbody>
        {% for comment in post.comment_set.all %}
          <tr>
            <td>{{comment.content}}</td>
            <td>{{comment.user}}</td>
            <td>{{comment.created_on}}</td>
            <td>
              <div class="">
                <!-- <a href="{% url 'update_comment' post.id comment.id %}">Edit</a> 
                <a href="{% url 'delete_comment' post.id comment.id %}">Delete</a> !-->
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</div>
{% endblock %}